
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#New" data-toggle="tab">Nowe</a>
        </li>
        <li>
            <a href="#Active" data-toggle="tab">Przyjęte</a>
        </li>
        <li>
            <a href="#Done" data-toggle="tab">Wykonane</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="New">
            Nowe
        </div>
        <div class="tab-pane" id="Active">
            Przyjęte
        </div>
        <div class="tab-pane" id="Done">
            Wykonane
        </div>
    </div>
</div>