@using MigAlarm.Helpers
@using MigAlarm.Models
@model MigAlarm.Models.Views.NotificationViewModel

<table class="detailsTable">
    @foreach (var item in Model.Notification.AdditionalData)
    {
        <tr>
            <th>
                @foreach (var displayName in @EnumHelper<AdditionalDataType>.GetValues(AdditionalDataType.Name).Where(type => type == item.AdditionalDataType).Select(EnumHelper<AdditionalDataType>.GetDisplayValue))
                {
                    @Html.DisplayFor(x => displayName)
                }

                <td>
                    @Html.DisplayFor(x => item.Text)
                </td>
            </th>
        </tr>
    }



</table>