@{
    ViewBag.Title = "Zarządzaj zdarzeniami";
}

<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
    <li class="active">Zarządzaj zdarzeniami</li>
</ol>
<h2>Zarządzanie zdarzeniami</h2>
<h4>Zawartość zakładek odświażana jest co 5 sekund</h4>


<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#New" data-toggle="tab">Nowe</a>
        </li>
        <li>
            <a href="#Active" data-toggle="tab">Przyjęte</a>
        </li>
        <li>
            <a href="#Done" data-toggle="tab">Wykonane</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="New">
            @{Html.RenderAction("GetNewNotifications");}
        </div>
        <div class="tab-pane" id="Active">
            @{Html.RenderAction("GetActiveNotifications");}
        </div>
        <div class="tab-pane" id="Done">
            @{Html.RenderAction("GetDoneNotifications");}
        </div>
    </div>
</div>

@Html.Partial("_Modal")


<script>
    $(document).ready(function() {
        setInterval(function () {
            $.ajax({
                url: '/Notification/GetNewNotifications',
                success: function (data) {
                    $('.new-table').html(data);
                }
            });
        }, 50000);
    });

    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '/Notification/GetActiveNotifications',
                success: function (data) {
                    $('.active-table').html(data);
                }
            });
        }, 50000);
    });

    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '/Notification/GetDoneNotifications',
                success: function (data) {
                    $('.done-table').html(data);
                }
            });
        }, 50000);
    });

    function removeRow(id) {
        document.getElementById(id).remove();
    };
</script>