@{
    ViewBag.Title = "Zarządzaj zdarzeniami";
}

<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>

<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
    <li class="active">Zarządzaj zdarzeniami</li>
</ol>
<h2>Zarządzanie zdarzeniami</h2>
<h4>Zawartość zakładek odświeżana jest co 5 sekund</h4>


<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#New" id="Newtab" data-toggle="tab">Nowe</a>
        </li>
        <li>
            <a href="#Active" id="Activetab" data-toggle="tab">Przyjęte</a>
        </li>
        <li>
            <a href="#Done" id="Donetab" data-toggle="tab">Wykonane</a>
        </li>
        <li>
            <a href="#Rejected" id="Rejectedtab" data-toggle="tab">Odrzucone</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="New">
            @{Html.RenderAction("GetNewNotifications");}
        </div>
        <div class="tab-pane" id="Active">
            @{Html.RenderAction("GetActiveNotifications");}
        </div>
        <div class="tab-pane" id="Done">
            @{Html.RenderAction("GetDoneNotifications");}
        </div>
        <div class="tab-pane" id="Rejected">
            @{Html.RenderAction("GetRejectedNotifications");}
        </div>
    </div>
</div>

@Html.Partial("_Modal")

<script>
    function refreshNotifications(type) {
        $.ajaxSetup({
            // Disable caching of AJAX responses */
            cache: false
        });

        $.ajax({
            url: '/Notification/Get' + type + 'Notifications',
            success: function (data) {
                $('.' + type.toLowerCase() + '-table').html(data);
            }
        });
    }

    $(document).ready(function() {
        setInterval(function () {
            refreshNotifications("New");
            refreshNotifications("Active");
            refreshNotifications("Done");
            refreshNotifications("Rejected");
        }, 5000);
    }); 

    function removeRow(id) {
        document.getElementById(id).remove();
        refreshNotifications("Active");
    };

    $('#Newtab').click(function (evt) {
        refreshNotifications("New");
    });

    $('#Activetab').click(function (evt) {
        refreshNotifications("Active");
    });

    $('#Donetab').click(function (evt) {
        refreshNotifications("Done");
    });
    $('#Rejectedtab').click(function (evt) {
        refreshNotifications("Rejected");
    });
</script>
