@using MigAlarm.Helpers
@using MigAlarm.Models
@{
    var user = IdentityHelper.User;
}

<br/>
<ol class="breadcrumb">
    <li>Strona główna</li>
</ol>
<div class="row">
    <div class="col-md-6">
        <h2>Zarządzaj użytkownikami</h2>
        <p>W tym miejscu możesz dodawać, usuwać oraz edytować pracowników w wybranym przy logowaniu Centrum Zarządzania Kryzysowego.</p>
        <p>
            @if (user.Roles.Any(x => x.RoleType == RoleType.Admin))
            {
                <a class="btn btn-default" href="@Url.Action("Index", "Management")">Przejdź &raquo;</a>
            }
            else
            {
                <p class="btn btn-default">Opcja niedostępna</p>
            }
        </p>
    </div>
    <div class="col-md-6">
        <h2>Zarządzaj zdarzeniami</h2>
        <p>W tym miejscu znajdują się zdarzenia alarmowe napływające do systemu. Dostępne jedynie dla pracowników Centrum Zarządzania Kryzysowego.</p>
        <p>
            @if (user.Roles.Any(x => x.RoleType == RoleType.User))
            {
                <a class="btn btn-default" href="@Url.Action("Index", "Notification")">Przejdź &raquo;</a>
            }
            else
            {
                <p class="btn btn-default">Opcja niedostępna</p>
            }
        </p>
    </div>
</div>