@using MigAlarm.Helpers
@using MigAlarm.Models
@{
    var user = IdentityHelper.User;
    ViewBag.Title = "MigAlarm";

    var selectedInstitution = Request.Cookies["institution"] != null ? int.Parse(Request.Cookies["institution"].Value) : -1;
}

<br/>
<ol class="breadcrumb">
    <li>Strona główna</li>
</ol>
<div class="row">
    <div class="col-md-12">
        @if (user.Roles.Any(x => x.RoleType == RoleType.Admin && x.InstitutionId == selectedInstitution))
        {
            <h2>Zarządzaj użytkownikami</h2>
            <p>W tym miejscu możesz dodawać, usuwać oraz edytować pracowników w wybranym przy logowaniu Centrum Zarządzania Kryzysowego.</p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Index", "Management")">Przejdź &raquo;</a>
            </p>
        }
        else if (user.Roles.Any(x => x.RoleType == RoleType.User && x.InstitutionId == selectedInstitution))
        {
            <h2>Zarządzaj zdarzeniami</h2>
            <p>W tym miejscu znajdują się zdarzenia alarmowe napływające do systemu. Dostępne jedynie dla pracowników Centrum Zarządzania Kryzysowego.</p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Index", "Notification")">Przejdź &raquo;</a>
            </p>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Błąd</strong> Spróbuj zalogować się ponownie bądź skontaktuj się z administratorem systemu.
            </div>
        }
    </div>
</div>