<br/>
<ol class="breadcrumb">
    <li>Strona główna</li>
</ol>
<div class="row">
    <div class="col-md-6">
        <h2>Zarządzaj użytkownikami</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Management")">Przejdź &raquo;</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Zarządzaj kontem</h2>
            <p>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
            </p>
            <p><a class="btn btn-default" href="">Przejdź &raquo;</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Przeglądaj zdarzenia</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p>
            <a class="btn btn-default" href="">Przejdź &raquo;</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Zarządzaj kontem</h2>
            <p>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
            </p>
            <p>
                <a class="btn btn-default" href="">Przejdź &raquo;</a>
            </p>
        </div>
    </div>
</div>

